{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}

{% block field%}
    <ul class="list-files-show-field" style="list-style: none;padding-left: 0;">
        {% for key, val in value %}
            <li style="background: #f9f9f9;padding: 5px;float: left;text-align: center;">
                <a href="/{{ val.pathFile  }}" target="_blank">
                    <img src="/{{ val.pathFile }}" style="max-height: 200px;">
                </a><br/>
                <strong>{{ val.titulo }}</strong>
            </li>
        {% endfor %}
    </ul>
{% endblock %}