/.idea
/projeto-php/__MACOSX/
/projeto-php/.DS_Store
/projeto-php/.idea
/projeto-php/.gradle
/projeto-php/app/logs
/projeto-php/web/upload
/projeto-php/web/uploads
/projeto-php/app/cache/dev
/projeto-php/.rsync_exclude
/bkp
/projeto_android/__MACOSX/
/projeto_android/.DS_Store
/projeto_android/.idea
/projeto_android/.gradle
/projeto_android/projeto_android.iml
/projeto_android/local.properties
/projeto_android/*.zip
